*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
  font-family: 'Poppins',sans-serif;

}
section{
scroll-margin-top:80px;
margin-top:-80px;
}

 
body{
background: radial-gradient(circle at top,#0f172a,#020617);
width:100%;
overflow-x:hidden;
color:white;
}